body {
    background-color: rgb(0, 0, 0);
}




h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    margin-bottom: 0.2em;
    color: rgb(255, 255, 255);
    text-align: center;
}

p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    margin-top: 0;
    color: rgb(255, 255, 255);
    text-align: center;
}

.clown {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.button {
    background-color: rgb(255, 0, 0);
}