@font-face {
    font-family: 'avenir';
    src: url('avenirnext-medium.woff2') format('woff2'),
        url('avenirnext-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* 
@font-face {
    font-family: 'webster';
    src: url('WebsterDeluxe-Regular.woff2') format('woff2'),
        url('WebsterDeluxe-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */



body {
    /* background:linear-gradient(rgb(254, 0, 119),rgb(255, 101, 18));
    height: 100vh; */
    background-color: rgb(255, 0, 123);
    cursor: url(../testicon2.png), help;
    margin: 0;
    
}



.body-text {
    font-size: 15px;
    color: white;
    font-family:'avenir';
    margin-bottom:0.2em;
    text-align: center;
}

.h1 {
    color: rgb(255, 255, 255);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0px;
    font-size: 100px;
    margin-top: 0;
    text-align: center;

}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* .flowerbutton:hover {
    scale: 1.4;
} */

/* .marquee {
color: rgb(255, 255, 255);
font-family:'avenir';
font-style: italic;
z-index: -1;

} */

/* .projects {
    font-size: 17px;
    text-align: center;
    text-decoration: dotted underline 2px;
    text-decoration-skip-ink:none;
    text-underline-offset: 6px;
    color: white;
    font-family: 'avenir';
} */

.hover-photos {
    display: flex;
    flex-wrap: wrap;
justify-content: center;
}

.curve {
border-radius: 25px;
padding: 10px;
}

.curve:hover {
filter: blur(6px);
background-color: rgb(0, 0, 0);
cursor:url(star.png), auto;
}

.cover-object {
    position: relative;
    display: block;
}

.cover-text {
width: 100%; 
height: 100%;
position: absolute;
top: 0;
left: 0;
display: flex;
justify-content: center;
align-items: center;
color: white;
font-size: 35px;
pointer-events: none;
opacity: 0;
transition: opacity .3s;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.cover-object:hover .cover-text {
opacity: 1;
}

.black {
    color: black;
}


@keyframes hover {
    0% {
/* rotate: 0deg; */

    }
    100% {
/* rotate: 360deg; */
    }
}

.cover-sizing {
    height: 300px;
    width: 425px;
}



.box {
    background: rgb(146, 13, 73);
    /* height: 100vh; */
    padding: 20px;
    padding-top: 30px;


}

.pink {
    color: deeppink;
}

