body {
background-color: black;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    margin-bottom: 0.2em;
    color: white;
    text-align: center;
}

p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    margin-top: 0;
    color: white;
    text-align: center;
}

.flex-318 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}