

body {
    background-color:#1b9698;
}


h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;    
    font-style: italic;
    margin-bottom: 0.2em;
    color: white;
}

p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    margin-top: 0;
    color: white;
    text-align: center;  

}


.flex-munch {
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 10px;
margin-top: 20px;
}

.button {
    background-color: rgb(138, 201, 255);
}